body{
    margin: 0px;
}

.menu-superior{
    width: 100%;
    height: 25px;
    background: #f4bf25;
    float: left;
}
.menu-topo{
    width: 70%;
    height: 25px;
    background: #f4bf25;
    float: left;
    
}
.menu-topo ul{
    list-style: none;
    margin-right: 80px;
    margin-top: 3px !important;
}
.menu-topo ul li{
    display: inline;
    border-left: 1px solid #0e0707;
    padding-left: 10px;
}
.menu-superior ul li a{
    margin-top: 10px !important;
    font-size: 12px;
    padding: 1px;
    margin-right: 20px;
    color: #666666;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.telefone{
    width: 15%;
    height: 25px;
    background:#f4bf25;
    float: right;
    margin-right: 0px;
}

.telefone h2{
    margin-top:5px !important;
    font-size: 11px;
    padding: 1px;
    margin-left: 120px;
    color: #666666;
    text-decoration: none;
    border-radius: 5px;
}
.div-login{
    width: 5%;
    height:25px;
    background: #666666;
    float: right;
    margin-right: 30px;
}
.div-login a{
    margin-top: 3px !important;
    margin-left: 5px;
    font-size: 10px;
    padding: 4px;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

}
.div-logo{
    width: 30%;
    height: 100px;
    background: #fff;
    float: left;
}

.logo{
    margin-top: 25px;
    margin-left: 75px;
    font-size: 30px;
}

.menu{
    width: 70%;
    height: 100px;
    float: left;
    background:#fff;
}

.menu ul{
    list-style: none;
    margin-left: 150px;
    margin-top: 35px !important;
}

.menu ul li{
    display: inline;
    
}

.menu ul li a{
    margin-top: 15px !important;
    font-size: 16px;
    padding: 10px;
    margin-left: 20px;
    color: #666666;
    text-decoration: none;
    border-radius: 5px;
}

.menu ul li a:hover{
     background: #666666;
     color: #ffffff;
}

.active{
    background:#666666;
     color: #ffffff !important;
}

.slider{
    float: left;
    width: 95%;
    height: 400px;
    background: #f4bf25;
    margin-top: 0px;
    margin-left: 35px;
}

.block{
    float: right;
    width: 100%;
    height: 300px;
    background:#fff;

}
.bloco{
    float: left;
    width: 14.8%;
    height: 284px;
    background:#f4bf25; 
    padding: 32px;
    color: #fff;
    display: block;
    margin: 40px;
    margin-left: 40px;
    margin-right: 30px;
    border:1px solid #666666;
}

.bloco .imagem{
    height: 100px;
}

.saibamais{
    float: left;
    width: 100%;
    height: 10px;
    background: #ffffff;; 
    padding: 32px;
    color: #fff;
    display: block;
    margin: 138px;
    margin-left: -32px;
    margin-right: 0px;
}
.info{
    font-size:25px;
    margin-top: -10px;
    color:#666666;
    text-align: center;
    display: block;
    padding: 0px;
}


    
.menu-topo-direita{
    width: 27%;
    float: left;
    margin: 0px;
    padding: 0px;
}

.menu-topo-direita p{
     float: right;
     color: #fff;
     font-size: 12px;
     margin-top: 5px;
}

.menu-topo-direita a{
         float: right;
    color: #fff;
    font-size: 12px;
    background: #666666;
    display: block;
    padding: 7px;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    margin-left: 15px;
}









































